*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: "Tajawal", sans-serif;
}

.container{
   background-image: url(img/rm222-mind-16.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;

   h1{
      padding-bottom: 20px;
      font-size: 45px;
      font-weight: bold;
   }
}


.list-contact{
   background-color: aliceblue;
   width: 450px;
   height: 350px;
   overflow: auto;

   img{
      width: 70px;
      border-radius: 50%;
   }
}

.contact{
   padding: 15px 10px;
   display: flex;
   justify-content:space-between;
   align-items: center;

   .icons img{
      border-radius: 0;
      width: 20px;
   }

   .icons{
      display: none;
   }
}

.contact:hover{
   background-color: rgba(212, 212, 212, 0.603);
   border: 0.5px solid rgba(116, 115, 115, 0.137);

   .icons{
      display: flex;
   }
}

.img-name{
   display: flex;
   align-items: center;
   gap: 15px;

   p{
      color: rgb(121, 121, 121);
   }
}

@media (max-width: 450px) {
   .container{

      background-position: center;

      h1{
         font-size: 30px;
      }
   }

   .list-contact{
      background-color: aliceblue;
      width: 380px;
   
      img{
         width: 60px;
         border-radius: 50%;
      }
   }

   .img-name{
      display: flex;
      align-items: center;
      gap: 15px;

      h2{
         font-size: 20px;
      }
   
      p{
         font-size: 14px;
         color: rgb(121, 121, 121);
      }
   }
}











